---
layout: default
---

<article class="py-16 font-serif lg:py-24 post">
  <header class="px-4 m-auto md:max-w-2xl lg:max-w-4xl">
    <a href="{{"/" | append: page.categories[0]}}" class="pb-1 text-sm font-bold leading-normal uppercase border-b-4 border-gray-200 transition-all hover:text-red-500">{{page.categories[0]}}</a>
    <h1 class="mt-6 text-3xl font-bold tracking-wide md:text-4xl lg:text-6xl">{{ page.title }}</h1>
  </header>

  <div class="px-4 m-auto mt-16 tracking-wider md:max-w-2xl lg:max-w-4xl prose md:prose-lg">
    <figure class="mt-16 aspect-w-16 aspect-h-9">
      <img src="{{ page.image }}" loading="lazy" />
    </figure>

    {{ content }}
  </div>
</article>
