<div class="flex flex-col gap-16">
  {% for post in latest_posts %}
    <!-- Article Item -->
    <article class="group relative flex flex-col items-start">
      <h2
        class="
          text-base font-semibold tracking-tight text-zinc-800
          dark:text-zinc-100
        "
      >
        <div
          class="
            absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition
            group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6
            sm:rounded-2xl
          "
        ></div>

        <a href="{{ post.relative_url }}">
          <span
            class="
              absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6
              sm:rounded-2xl
            "
          ></span>

          <span class="relative z-10">
            {{ post.title }}
          </span>
        </a>
      </h2>

      <time
        class="
          relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400
          dark:text-zinc-500 pl-3.5
        "
        datetime="{{ post.date }}"
      >
        <span
          class="absolute inset-y-0 left-0 flex items-center"
          aria-hidden="true"
        >
          <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span>
        </span>
        {{ post.date | date: "%B %d, %Y" }}
      </time>

      <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
        {{ post.description }}
      </p>

      <div
        aria-hidden="true"
        class="
          relative z-10 mt-4 flex items-center text-sm font-medium
          text-emerald-500
        "
      >
        Read article
        <i class="ml-1 [&_svg]:size-4 text-current">{{ data.icons.chevron_right }}</i>
      </div>
    </article>
  {% endfor %}

  <a
    href="/articles"
    class="
      group inline-flex w-full items-center justify-center gap-2 rounded-md
      bg-white px-3 py-2 text-sm font-medium text-zinc-900 outline-offset-2
      border border-zinc-200
      transition hover:bg-zinc-50 active:bg-zinc-100 active:text-zinc-900/60
      dark:bg-zinc-800/50 dark:text-zinc-300 dark:hover:bg-zinc-800
      dark:hover:text-zinc-50 dark:active:bg-zinc-800/50 dark:active:text-zinc-50/70
    "
  >
    More articles
  </a>
</div>
